.armoryClassWrapper {
  border: solid black 1px;
  border-radius: 4px;
  box-shadow: 2px 3px;
  margin: 4px;
  padding: 10px;

  .armorClassDetail {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 30%;
    
    .cell {
      width: 75%;
      flex-direction: column;
      display: grid;
      grid-template-rows: 75% 25%;

      .inputZone {
        display: flex;

        input {
          width: 75%;
        }
      }
    }
  }

}