.saveLineWrapper {
  .saveRollsLine {
    display: grid;
    grid-template-columns: 31% 14% 14% 14% 14% 14%;
    grid-template-areas:  " saveRollName rollModifier baseValueModifier characteristicModifier magicalModifier temporaryModifier";
  

    .inputBox {
      width: 50%;
      margin-right: 1rem;
    }

    .saveRollsName {
      grid-area: saveRollName;
    }

    .saveRollTotalValue {
      grid-area: rollModifier;

      span {
        margin-left: 1rem;
      }
    }

    .baseValueModifier {
      grid-area: baseValueModifier;
    }

    .characteristicModifier {
      grid-area: characteristicModifier;
    }

    .magicalModifier {
      grid-area: magicalModifier;
    }

    .temporaryModifier {
      grid-area: temporaryModifier;
    }
  }
}