.competenceLineWrapper {
  .competenceLine {
    display: grid;
    grid-template-columns: 31% 17% 17% 17% 17%;
    grid-template-areas: 
    " abilityName modAbility master modCar otherMod ";
    
    .cell {
      width: 100%
    }

    .abilityName {
      grid-area: abilityName;
      padding: 0 5px; 

      .isClassAbility {
        border:1px solid black;
        height: 1rem;
        width: 1rem;
        background-color: darkgrey;
      }
      
      .classAbility {
        border:1px solid black;
        height: 1rem;
        width: 1rem;
      }
    }

    .modAbility {
      grid-area: modAbility;
    }

    .master {
      grid-area: master;
    }

    .modCar {
      grid-area: modCar;
    }

    .otherMod {
      grid-area: otherMod;
    }

    .inputBox {
      width: 40px;
    }
  }
}